.user{
  padding: 1rem;
  border: .3rem solid map-get($colors, fourth );
  border-radius: 2rem;
  @include flexBox($f-direction: column);

  picture{
    width: 18rem;
    height: 18rem;
    overflow: hidden;
    border-radius: 100%;
    border: .3rem solid map-get($colors, fourth );
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .user-info{
    width: 100%;
    text-align: center;
    h3{
      text-transform: capitalize;
      color: map-get($colors, six );
    }
    h4{
      color: map-get($colors, dark );
    }
  }
}